<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="nextPort" value ="4321"/>
      <add key="port" value="1234" />  
    </appSettings>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http">
          <clientProviders>
            <formatter ref="soap" typeFilterLevel="Full"/>
          </clientProviders>
          <serverProviders>
            <formatter ref="soap"/>
          </serverProviders>
        </channel>
      </channels>
      <service> 
        <wellknown type="ISuperInterfaces.IStockManager, ISuper" mode="SingleCall"
                   objectUri="stockmanager.soap"/>
      </service>
      <service>
        <wellknown type="ISuperInterfaces.IZone, ISuper" mode="Singleton"
                   objectUri="zone.soap"/>
      </service>
    </application>
  </system.runtime.remoting>
</configuration>